body {
    overflow-x: hidden;
}

.ambulatoir-color-icon{
    color: #d55f24
}

.dashboard-color-icon{
    color: #1e3cc4
}

.color-purple{
    color:#924272
}

.bg-text-grey-purple{
    background-color: #ffeefeb0
}


.inout-color-icon{
    color: #f0be18
}

#sidenav-main {
    transition: all 0.5s;
}

#sidenav-main.closed {
    margin-left: -250px; /* Adjust based on your sidebar's width */
}

.sidenav-toggler {
    cursor: pointer;
}


.tab-space {
  margin-right: 1rem; /* Adjust the space as needed */
}

.tab-space-3 {
    margin-right: 2rem; /* Adjust the space as needed */
  }

.underline-wrapper {
    border-bottom: 1px solid #000; /* Adjust the color and thickness as needed */
}

.btn-orange {
    --bs-btn-color: #000;
    --bs-btn-bg: #e38220;
    --bs-btn-border-color: #f48506cf;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #b1661a;
    --bs-btn-hover-border-color: #b1661a;
    --bs-btn-focus-shadow-rgb: 213, 84, 54;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #e38220;
    --bs-btn-active-border-color: #f48506cf;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #a95214;
    --bs-btn-disabled-border-color: #9d490e;
}

.btn-toggle {
    --bs-btn-padding-x: 1.25rem;
    --bs-btn-padding-y: 0.625rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 0.875rem;
    --bs-btn-font-weight: 700;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #ffffff;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.5rem;
    --bs-btn-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.2rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: all 0.15s ease-in;
  }

#ambulatoirDetail {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
}

.jspreadsheet {
    width: 100% !important;
}

/*Toggle for sidebar menu*/
.sidenav {
    transition: width 0.3s ease;
    width: 250px;
    justify-content: left;
}

.sidenav.collapsed {
    width: 80px;
}

/* Hide text when sidebar is collapsed */
.sidenav.collapsed .nav-link-text {
    display: none;
}

/* Center icons in the collapsed state */
/* .sidenav.collapsed .icon {
    margin-left: auto;
    margin-right: auto;
} */

/* Adjust the padding for the collapsed state */
/* .sidenav.collapsed .nav-item {
    text-align: center;
} */

@media (max-width: 768px) {
    .sidenav {
        position: absolute;
        width: 250px;
        z-index: 999;
    }

    .sidenav.collapsed {
        width: 80px;
    }
}

/*.sidenav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}*/

.sidenav.collapsed .navbar-brand span {
    display: none; /* Hide the title when collapsed */
}

.sidenav.collapsed .sidenav-header {
    justify-content: center; /* Center the image and button in the header when collapsed */
}
